In [1]:
#第14章/读取原数据文件
import pandas as pd

data = pd.read_csv('data/msr_paraphrase.csv', sep='\t')

data

,ï»¿Quality,#1 ID,#2 ID,#1 String,#2 String
0,1,702876,702977,"Amrozi accused his brother , whom he called <Q...",Referring to him as only <QUOTE> the witness <...
1,0,2108705,2108831,Yucaipa owned Dominick 's before selling the c...,Yucaipa bought Dominick 's in 1995 for $ 693 m...
2,1,1330381,1330521,They had published an advertisement on the Int...,"On June 10 , the ship 's owners had published ..."
3,0,3344667,3344648,"Around 0335 GMT , Tab shares were up 19 cents ...","Tab shares jumped 20 cents , or 4.6 % , to set..."
4,1,1236820,1236712,"The stock rose $ 2.11 , or about 11 percent , ...",PG & E Corp. shares jumped $ 1.63 or 8 percent...
...,...,...,...,...,...
5796,0,2685984,2686122,"After Hughes refused to rehire Hernandez , he ...",Hernandez filed an Equal Employment Opportunit...
5797,0,339215,339172,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...
5798,0,2996850,2996734,Bethany Hamilton remained in stable condition ...,"Bethany , who remained in stable condition aft..."
5799,1,2095781,2095812,"Last week the power station â s US owners , ...","The news comes after Drax 's American owner , ..."
5800,1,2136244,2136052,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...

In [2]:
#第14章/删除无用的两列数据
data.pop('#1 ID')
data.pop('#2 ID')

data

,ï»¿Quality,#1 String,#2 String
0,1,"Amrozi accused his brother , whom he called <Q...",Referring to him as only <QUOTE> the witness <...
1,0,Yucaipa owned Dominick 's before selling the c...,Yucaipa bought Dominick 's in 1995 for $ 693 m...
2,1,They had published an advertisement on the Int...,"On June 10 , the ship 's owners had published ..."
3,0,"Around 0335 GMT , Tab shares were up 19 cents ...","Tab shares jumped 20 cents , or 4.6 % , to set..."
4,1,"The stock rose $ 2.11 , or about 11 percent , ...",PG & E Corp. shares jumped $ 1.63 or 8 percent...
...,...,...,...
5796,0,"After Hughes refused to rehire Hernandez , he ...",Hernandez filed an Equal Employment Opportunit...
5797,0,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...
5798,0,Bethany Hamilton remained in stable condition ...,"Bethany , who remained in stable condition aft..."
5799,1,"Last week the power station â s US owners , ...","The news comes after Drax 's American owner , ..."
5800,1,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...

In [3]:
#第14章/重命名列
columns = list(data.columns)
columns[0] = 'same'
columns[1] = 's1'
columns[2] = 's2'
data.columns = columns

data

,same,s1,s2
0,1,"Amrozi accused his brother , whom he called <Q...",Referring to him as only <QUOTE> the witness <...
1,0,Yucaipa owned Dominick 's before selling the c...,Yucaipa bought Dominick 's in 1995 for $ 693 m...
2,1,They had published an advertisement on the Int...,"On June 10 , the ship 's owners had published ..."
3,0,"Around 0335 GMT , Tab shares were up 19 cents ...","Tab shares jumped 20 cents , or 4.6 % , to set..."
4,1,"The stock rose $ 2.11 , or about 11 percent , ...",PG & E Corp. shares jumped $ 1.63 or 8 percent...
...,...,...,...
5796,0,"After Hughes refused to rehire Hernandez , he ...",Hernandez filed an Equal Employment Opportunit...
5797,0,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...
5798,0,Bethany Hamilton remained in stable condition ...,"Bethany , who remained in stable condition aft..."
5799,1,"Last week the power station â s US owners , ...","The news comes after Drax 's American owner , ..."
5800,1,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...

In [4]:
#第14章/删除文本中的<QUOTE>符号
data['s1'] = data['s1'].str.replace('<QUOTE>', ' ')
data['s2'] = data['s2'].str.replace('<QUOTE>', ' ')

data

,same,s1,s2
0,1,"Amrozi accused his brother , whom he called ...","Referring to him as only the witness , Amr..."
1,0,Yucaipa owned Dominick 's before selling the c...,Yucaipa bought Dominick 's in 1995 for $ 693 m...
2,1,They had published an advertisement on the Int...,"On June 10 , the ship 's owners had published ..."
3,0,"Around 0335 GMT , Tab shares were up 19 cents ...","Tab shares jumped 20 cents , or 4.6 % , to set..."
4,1,"The stock rose $ 2.11 , or about 11 percent , ...",PG & E Corp. shares jumped $ 1.63 or 8 percent...
...,...,...,...
5796,0,"After Hughes refused to rehire Hernandez , he ...",Hernandez filed an Equal Employment Opportunit...
5797,0,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...
5798,0,Bethany Hamilton remained in stable condition ...,"Bethany , who remained in stable condition aft..."
5799,1,"Last week the power station â s US owners , ...","The news comes after Drax 's American owner , ..."
5800,1,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...

In [5]:
#第14章/删除标点符号
data['s1'] = data['s1'].str.replace('[^\w\s]', ' ')
data['s2'] = data['s2'].str.replace('[^\w\s]', ' ')

data

,same,s1,s2
0,1,Amrozi accused his brother whom he called ...,Referring to him as only the witness Amr...
1,0,Yucaipa owned Dominick s before selling the c...,Yucaipa bought Dominick s in 1995 for 693 m...
2,1,They had published an advertisement on the Int...,On June 10 the ship s owners had published ...
3,0,Around 0335 GMT Tab shares were up 19 cents ...,Tab shares jumped 20 cents or 4 6 to set...
4,1,The stock rose 2 11 or about 11 percent ...,PG E Corp shares jumped 1 63 or 8 percent...
...,...,...,...
5796,0,After Hughes refused to rehire Hernandez he ...,Hernandez filed an Equal Employment Opportunit...
5797,0,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...
5798,0,Bethany Hamilton remained in stable condition ...,Bethany who remained in stable condition aft...
5799,1,Last week the power station â s US owners ...,The news comes after Drax s American owner ...
5800,1,Sobig F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...

In [6]:
#第14章/替换特殊字符
data['s1'] = data['s1'].str.replace('â', 'a')
data['s2'] = data['s2'].str.replace('â', 'a')

data['s1'] = data['s1'].str.replace('Â', 'A')
data['s2'] = data['s2'].str.replace('Â', 'A')

data['s1'] = data['s1'].str.replace('Ã', 'A')
data['s2'] = data['s2'].str.replace('Ã', 'A')

data['s1'] = data['s1'].str.replace('_', ' ')
data['s2'] = data['s2'].str.replace('_', ' ')

data['s1'] = data['s1'].str.replace('µ', 'u')
data['s2'] = data['s2'].str.replace('µ', 'u')

data['s1'] = data['s1'].str.replace('³', ' ')
data['s2'] = data['s2'].str.replace('³', ' ')

data['s1'] = data['s1'].str.replace('½', ' ')
data['s2'] = data['s2'].str.replace('½', ' ')

data

,same,s1,s2
0,1,Amrozi accused his brother whom he called ...,Referring to him as only the witness Amr...
1,0,Yucaipa owned Dominick s before selling the c...,Yucaipa bought Dominick s in 1995 for 693 m...
2,1,They had published an advertisement on the Int...,On June 10 the ship s owners had published ...
3,0,Around 0335 GMT Tab shares were up 19 cents ...,Tab shares jumped 20 cents or 4 6 to set...
4,1,The stock rose 2 11 or about 11 percent ...,PG E Corp shares jumped 1 63 or 8 percent...
...,...,...,...
5796,0,After Hughes refused to rehire Hernandez he ...,Hernandez filed an Equal Employment Opportunit...
5797,0,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...
5798,0,Bethany Hamilton remained in stable condition ...,Bethany who remained in stable condition aft...
5799,1,Last week the power station a s US owners ...,The news comes after Drax s American owner ...
5800,1,Sobig F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...

In [7]:
#第14章/合并连续的空格
data['s1'] = data['s1'].str.replace('\s{2,}', ' ')
data['s2'] = data['s2'].str.replace('\s{2,}', ' ')

data

,same,s1,s2
0,1,Amrozi accused his brother whom he called the ...,Referring to him as only the witness Amrozi ac...
1,0,Yucaipa owned Dominick s before selling the ch...,Yucaipa bought Dominick s in 1995 for 693 mill...
2,1,They had published an advertisement on the Int...,On June 10 the ship s owners had published an ...
3,0,Around 0335 GMT Tab shares were up 19 cents or...,Tab shares jumped 20 cents or 4 6 to set a rec...
4,1,The stock rose 2 11 or about 11 percent to clo...,PG E Corp shares jumped 1 63 or 8 percent to 2...
...,...,...,...
5796,0,After Hughes refused to rehire Hernandez he co...,Hernandez filed an Equal Employment Opportunit...
5797,0,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...
5798,0,Bethany Hamilton remained in stable condition ...,Bethany who remained in stable condition after...
5799,1,Last week the power station a s US owners AES ...,The news comes after Drax s American owner AES...
5800,1,Sobig F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...

In [8]:
#第14章/拆分数字和字母连写的词
data['s1'] = data['s1'].str.replace('(\d)([a-zA-Z])', '\\1 \\2')
data['s2'] = data['s2'].str.replace('(\d)([a-zA-Z])', '\\1 \\2')

data['s1'] = data['s1'].str.replace('([a-zA-Z])(\d)', '\\1 \\2')
data['s2'] = data['s2'].str.replace('([a-zA-Z])(\d)', '\\1 \\2')

data

,same,s1,s2
0,1,Amrozi accused his brother whom he called the ...,Referring to him as only the witness Amrozi ac...
1,0,Yucaipa owned Dominick s before selling the ch...,Yucaipa bought Dominick s in 1995 for 693 mill...
2,1,They had published an advertisement on the Int...,On June 10 the ship s owners had published an ...
3,0,Around 0335 GMT Tab shares were up 19 cents or...,Tab shares jumped 20 cents or 4 6 to set a rec...
4,1,The stock rose 2 11 or about 11 percent to clo...,PG E Corp shares jumped 1 63 or 8 percent to 2...
...,...,...,...
5796,0,After Hughes refused to rehire Hernandez he co...,Hernandez filed an Equal Employment Opportunit...
5797,0,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...
5798,0,Bethany Hamilton remained in stable condition ...,Bethany who remained in stable condition after...
5799,1,Last week the power station a s US owners AES ...,The news comes after Drax s American owner AES...
5800,1,Sobig F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...

In [9]:
#第14章/删除首尾空格并小写所有字母
data['s1'] = data['s1'].str.strip()
data['s2'] = data['s2'].str.strip()

data['s1'] = data['s1'].str.lower()
data['s2'] = data['s2'].str.lower()

data

,same,s1,s2
0,1,amrozi accused his brother whom he called the ...,referring to him as only the witness amrozi ac...
1,0,yucaipa owned dominick s before selling the ch...,yucaipa bought dominick s in 1995 for 693 mill...
2,1,they had published an advertisement on the int...,on june 10 the ship s owners had published an ...
3,0,around 0335 gmt tab shares were up 19 cents or...,tab shares jumped 20 cents or 4 6 to set a rec...
4,1,the stock rose 2 11 or about 11 percent to clo...,pg e corp shares jumped 1 63 or 8 percent to 2...
...,...,...,...
5796,0,after hughes refused to rehire hernandez he co...,hernandez filed an equal employment opportunit...
5797,0,there are 103 democrats in the assembly and 47...,democrats dominate the assembly while republic...
5798,0,bethany hamilton remained in stable condition ...,bethany who remained in stable condition after...
5799,1,last week the power station a s us owners aes ...,the news comes after drax s american owner aes...
5800,1,sobig f spreads when unsuspecting computer use...,the virus spreads when unsuspecting computer u...

In [10]:
#第14章/替换数字为符号
data['s1'] = data['s1'].str.replace('\d+', '<NUM>')
data['s2'] = data['s2'].str.replace('\d+', '<NUM>')

data

,same,s1,s2
0,1,amrozi accused his brother whom he called the ...,referring to him as only the witness amrozi ac...
1,0,yucaipa owned dominick s before selling the ch...,yucaipa bought dominick s in <NUM> for <NUM> m...
2,1,they had published an advertisement on the int...,on june <NUM> the ship s owners had published ...
3,0,around <NUM> gmt tab shares were up <NUM> cent...,tab shares jumped <NUM> cents or <NUM> <NUM> t...
4,1,the stock rose <NUM> <NUM> or about <NUM> perc...,pg e corp shares jumped <NUM> <NUM> or <NUM> p...
...,...,...,...
5796,0,after hughes refused to rehire hernandez he co...,hernandez filed an equal employment opportunit...
5797,0,there are <NUM> democrats in the assembly and ...,democrats dominate the assembly while republic...
5798,0,bethany hamilton remained in stable condition ...,bethany who remained in stable condition after...
5799,1,last week the power station a s us owners aes ...,the news comes after drax s american owner aes...
5800,1,sobig f spreads when unsuspecting computer use...,the virus spreads when unsuspecting computer u...

In [11]:
#第14章/为s1添加首尾符号
def f(sent):
    return '<SOS> ' + sent + ' <EOS>'


data['s1'] = data['s1'].apply(f)

data

,same,s1,s2
0,1,<SOS> amrozi accused his brother whom he calle...,referring to him as only the witness amrozi ac...
1,0,<SOS> yucaipa owned dominick s before selling ...,yucaipa bought dominick s in <NUM> for <NUM> m...
2,1,<SOS> they had published an advertisement on t...,on june <NUM> the ship s owners had published ...
3,0,<SOS> around <NUM> gmt tab shares were up <NUM...,tab shares jumped <NUM> cents or <NUM> <NUM> t...
4,1,<SOS> the stock rose <NUM> <NUM> or about <NUM...,pg e corp shares jumped <NUM> <NUM> or <NUM> p...
...,...,...,...
5796,0,<SOS> after hughes refused to rehire hernandez...,hernandez filed an equal employment opportunit...
5797,0,<SOS> there are <NUM> democrats in the assembl...,democrats dominate the assembly while republic...
5798,0,<SOS> bethany hamilton remained in stable cond...,bethany who remained in stable condition after...
5799,1,<SOS> last week the power station a s us owner...,the news comes after drax s american owner aes...
5800,1,<SOS> sobig f spreads when unsuspecting comput...,the virus spreads when unsuspecting computer u...

In [12]:
#第14章/为s2添加首尾符号
def f(sent):
    return sent + ' <EOS>'


data['s2'] = data['s2'].apply(f)

data

,same,s1,s2
0,1,<SOS> amrozi accused his brother whom he calle...,referring to him as only the witness amrozi ac...
1,0,<SOS> yucaipa owned dominick s before selling ...,yucaipa bought dominick s in <NUM> for <NUM> m...
2,1,<SOS> they had published an advertisement on t...,on june <NUM> the ship s owners had published ...
3,0,<SOS> around <NUM> gmt tab shares were up <NUM...,tab shares jumped <NUM> cents or <NUM> <NUM> t...
4,1,<SOS> the stock rose <NUM> <NUM> or about <NUM...,pg e corp shares jumped <NUM> <NUM> or <NUM> p...
...,...,...,...
5796,0,<SOS> after hughes refused to rehire hernandez...,hernandez filed an equal employment opportunit...
5797,0,<SOS> there are <NUM> democrats in the assembl...,democrats dominate the assembly while republic...
5798,0,<SOS> bethany hamilton remained in stable cond...,bethany who remained in stable condition after...
5799,1,<SOS> last week the power station a s us owner...,the news comes after drax s american owner aes...
5800,1,<SOS> sobig f spreads when unsuspecting comput...,the virus spreads when unsuspecting computer u...

In [13]:
#第14章/分别求出s1和s2的长度
def f(sent):
    return len(sent.split(' '))


data['s1_lens'] = data['s1'].apply(f)
data['s2_lens'] = data['s2'].apply(f)

data

,same,s1,s2,s1_lens,s2_lens
0,1,<SOS> amrozi accused his brother whom he calle...,referring to him as only the witness amrozi ac...,16,17
1,0,<SOS> yucaipa owned dominick s before selling ...,yucaipa bought dominick s in <NUM> for <NUM> m...,18,21
2,1,<SOS> they had published an advertisement on t...,on june <NUM> the ship s owners had published ...,20,20
3,0,<SOS> around <NUM> gmt tab shares were up <NUM...,tab shares jumped <NUM> cents or <NUM> <NUM> t...,28,19
4,1,<SOS> the stock rose <NUM> <NUM> or about <NUM...,pg e corp shares jumped <NUM> <NUM> or <NUM> p...,23,22
...,...,...,...,...,...
5796,0,<SOS> after hughes refused to rehire hernandez...,hernandez filed an equal employment opportunit...,16,11
5797,0,<SOS> there are <NUM> democrats in the assembl...,democrats dominate the assembly while republic...,12,10
5798,0,<SOS> bethany hamilton remained in stable cond...,bethany who remained in stable condition after...,14,17
5799,1,<SOS> last week the power station a s us owner...,the news comes after drax s american owner aes...,29,30
5800,1,<SOS> sobig f spreads when unsuspecting comput...,the virus spreads when unsuspecting computer u...,28,23

In [14]:
#第14章/求s1+s2最大长度
max_lens = max(data['s1_lens'] + data['s2_lens'])

max_lens

72

In [15]:
#第14章/求出每个句子需要PAD的长度
data['pad_lens'] = max_lens - data['s1_lens'] - data['s2_lens']

data

,same,s1,s2,s1_lens,s2_lens,pad_lens
0,1,<SOS> amrozi accused his brother whom he calle...,referring to him as only the witness amrozi ac...,16,17,39
1,0,<SOS> yucaipa owned dominick s before selling ...,yucaipa bought dominick s in <NUM> for <NUM> m...,18,21,33
2,1,<SOS> they had published an advertisement on t...,on june <NUM> the ship s owners had published ...,20,20,32
3,0,<SOS> around <NUM> gmt tab shares were up <NUM...,tab shares jumped <NUM> cents or <NUM> <NUM> t...,28,19,25
4,1,<SOS> the stock rose <NUM> <NUM> or about <NUM...,pg e corp shares jumped <NUM> <NUM> or <NUM> p...,23,22,27
...,...,...,...,...,...,...
5796,0,<SOS> after hughes refused to rehire hernandez...,hernandez filed an equal employment opportunit...,16,11,45
5797,0,<SOS> there are <NUM> democrats in the assembl...,democrats dominate the assembly while republic...,12,10,50
5798,0,<SOS> bethany hamilton remained in stable cond...,bethany who remained in stable condition after...,14,17,41
5799,1,<SOS> last week the power station a s us owner...,the news comes after drax s american owner aes...,29,30,13
5800,1,<SOS> sobig f spreads when unsuspecting comput...,the virus spreads when unsuspecting computer u...,28,23,21

In [16]:
#第14章/合并s1和s2
data['sent'] = data['s1'] + ' ' + data['s2']

data.pop('s1')
data.pop('s2')

data

,same,s1_lens,s2_lens,pad_lens,sent
0,1,16,17,39,<SOS> amrozi accused his brother whom he calle...
1,0,18,21,33,<SOS> yucaipa owned dominick s before selling ...
2,1,20,20,32,<SOS> they had published an advertisement on t...
3,0,28,19,25,<SOS> around <NUM> gmt tab shares were up <NUM...
4,1,23,22,27,<SOS> the stock rose <NUM> <NUM> or about <NUM...
...,...,...,...,...,...
5796,0,16,11,45,<SOS> after hughes refused to rehire hernandez...
5797,0,12,10,50,<SOS> there are <NUM> democrats in the assembl...
5798,0,14,17,41,<SOS> bethany hamilton remained in stable cond...
5799,1,29,30,13,<SOS> last week the power station a s us owner...
5800,1,28,23,21,<SOS> sobig f spreads when unsuspecting comput...

In [17]:
#第14章/为不足最大长度的句子补充PAD
def f(row):
    pad = ' '.join(['<PAD>'] * row['pad_lens'])
    row['sent'] = row['sent'] + ' ' + pad
    return row


data = data.apply(f, axis=1)

data

,same,s1_lens,s2_lens,pad_lens,sent
0,1,16,17,39,<SOS> amrozi accused his brother whom he calle...
1,0,18,21,33,<SOS> yucaipa owned dominick s before selling ...
2,1,20,20,32,<SOS> they had published an advertisement on t...
3,0,28,19,25,<SOS> around <NUM> gmt tab shares were up <NUM...
4,1,23,22,27,<SOS> the stock rose <NUM> <NUM> or about <NUM...
...,...,...,...,...,...
5796,0,16,11,45,<SOS> after hughes refused to rehire hernandez...
5797,0,12,10,50,<SOS> there are <NUM> democrats in the assembl...
5798,0,14,17,41,<SOS> bethany hamilton remained in stable cond...
5799,1,29,30,13,<SOS> last week the power station a s us owner...
5800,1,28,23,21,<SOS> sobig f spreads when unsuspecting comput...

In [18]:
#第14章/构建字典
def build_vocab():
    vocab = {
        '<PAD>': 0,
        '<SOS>': 1,
        '<EOS>': 2,
        '<NUM>': 3,
        '<UNK>': 4,
        '<MASK>': 5,
        '<Symbol6>': 6,
        '<Symbol7>': 7,
        '<Symbol8>': 8,
        '<Symbol9>': 9,
        '<Symbol10>': 10,
    }

    for i in range(len(data)):
        for word in data.iloc[i]['sent'].split(' '):
            if word not in vocab:
                vocab[word] = len(vocab)

    return vocab


vocab = build_vocab()

len(vocab), vocab['the']

(14789, 18)

In [19]:
#第14章/使用字典编码文本
def f(sent):
    sent = [str(vocab[word]) for word in sent.split()]
    sent = ','.join(sent)
    return sent


data['sent'] = data['sent'].apply(f)

data

,same,s1_lens,s2_lens,pad_lens,sent
0,1,16,17,39,"1,11,12,13,14,15,16,17,18,19,20,21,22,13,23,2,..."
1,0,18,21,33,"1,29,30,31,32,33,34,18,35,25,36,37,3,38,3,3,39..."
2,1,20,20,32,"1,45,46,47,48,49,50,18,51,50,52,3,53,18,54,38,..."
3,0,28,19,25,"1,60,3,61,62,63,64,65,3,66,67,3,3,68,69,3,3,70..."
4,1,23,22,27,"1,18,77,78,3,3,67,79,3,80,25,81,82,68,3,3,50,1..."
...,...,...,...,...,...
5796,0,16,11,45,"1,427,1645,2006,25,10152,2246,16,14787,25,18,1..."
5797,0,12,10,50,"1,514,448,3,1756,37,18,4646,42,3,1755,2,1756,1..."
5798,0,14,17,41,"1,10028,994,2211,37,1627,2190,1672,427,18,1167..."
5799,1,29,30,13,"1,464,908,18,917,434,69,32,586,58,9275,88,3184..."
5800,1,28,23,21,"1,2808,2809,2799,205,2800,2801,1573,1658,1243,..."

In [20]:
#第14章/保存为csv文件
data.to_csv('data/msr_paraphrase_data.csv', index=False)

In [21]:
#第14章/保存字典
pd.DataFrame(vocab.items(), columns=['word', 'token']).to_csv('data/msr_paraphrase_vocab.csv',
                                                              index=False)